<p>Listado de Heroes </p>
<!-- <div *ngIf="heroeBorrado !== '' "></div> -->
<div *ngIf="heroeBorrado; else noBorrar ">

  <h3>Heroe borrado:  <small>{{heroeBorrado}}</small></h3>

</div>
<!-- <div *ngIf="!heroeBorrado ">

  <h3>No ha borrado nada</h3>

</div> -->
<ng-template #noBorrar>


    <h3>No ha borrado nada</h3>
</ng-template>




<button (click)="borrarHeroe()">
  Borrar
</button>
<ul>
  <!-- duplicar elementos en el html  -->
  <li *ngFor="let heroe of heroes; let i = index">

 {{i +1}} -  {{heroe}}
  </li>

</ul>


